/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

body {
  text-align: center;
}
.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}
.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.video-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 10px auto; /* Center-align with auto margins */
  width: 300px; /* Adjust the width as needed */
  transition: background-color 0.3s; /* Smooth transition for background-color */
}

.video-container:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.video-container:active {
  background-color: #e0e0e0; /* Change background color when clicked */
}

li {
  display: block; /* Display list items as block elements */
  margin-bottom: 10px; /* Add some space between list items */
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}