body {
  text-align: center;
}
.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}
.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.video-container {
  border: 2px solid #000; /* Bold border */
  border-radius: 5px;
  padding: 2px;
  margin: 0 auto 10px auto; /* Center-align with auto margins */
  width: 300px; /* Adjust the width as needed */
  background-color: #f0f0f0; /* Light grey background */
  transition: background-color 0.3s; /* Smooth transition for background-color */
}

.image-container {
  position: relative;
  width: 90%;
  padding-top: calc(100% / 20); /* 1:5 aspect ratio */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.video-container:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.video-container:active {
  background-color: #e0e0e0; /* Change background color when clicked */
}

li {
  display: block; /* Display list items as block elements */
  margin-bottom: 10px; /* Add some space between list items */
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  display:inline-block;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  padding: 10px 20px; /* Increase padding to increase button size */
  font-size: 16px; /* Increase font size */
}

.download-button {
  padding: 10px 40px; /* Increase padding to increase button size */
  font-size: 18px; /* Increase font size slightly */
  font-weight: bold; /* Make the text bold */
  color: white; /* White text color */
  background-color: red; /* Red background color */
  border: 2px solid #000; /* Bold black border */
  border-radius: 5px; /* Rounded corners */
}

.input-box {
  height: 40px; /* Increase the height as needed */
}

.page-button {
  padding: 10px 20px; /* Increase padding to increase button size */
  font-size: 16px; /* Increase font size */
}